@import url('https://fonts.googleapis.com/css?family=Palanquin');

body {
  font-family: 'Palanquin';
  color: #d4d4d4;
}

div.words {
  margin: auto;
  position: absolute;
  left: 10px;
  pointer-events: none;
}

canvas {
  height: 100vh;
}

div.name-title {
  background-color: none;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 1px;
}
div.name-title p {
  font-family: helvetica;
  font-size: 66.6666666667px;
  font-weight: 200;
  line-height: 0px;
  text-align: center;
  cursor: default;
}
div.links {
  background-color: none;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 100px;
  grid-gap: 1px;
}

div.links a {
  text-align: center;
  pointer-events: auto;
  line-height: 100px;
  cursor: pointer;
  color: #d4d4d4;
  text-decoration: none;
}

div.links a:hover {
  color: #ec5e66;
}
